///////////////////////////////////////////////////////////////Recommandation officielles////////////////////////////////////////////////////////////////////////
.rec-sec{
    background-color: #1078AD;
    &__title{
        text-align: center;
        color: #D0E5F0;
        padding-top: 2%;
        font: Bold 35px/35px Cairo

    }
    .wo-ar{
        display: flex;
       justify-content: space-between;
         flex-wrap: wrap;
         direction: rtl;
         @include tablet{

         }
       &__item1{
           width: 50%;
          &--list{
               list-style: none;
               line-height: 45px;
               color: #fff;
              font-weight: bolder;
              font-size: large;
              width: 100%;
              @include mobile(){
               
                padding:0 63px;
                font-size: small;
                font-weight: 200;
         
               } 
           
        }
        
           &--order{
               padding-bottom: 2%;
               padding-right: 5%;
               font-size: larger;
               width: 100%;
               @include mobile{
                font-size: 15px;
                text-align: center;
               
               }
           }
           .fa-exclamation-triangle:before {
            content: "\f071";
            padding-left: 15px;
            color: #F4CF1B;
        }
    }
       &__item2{
        display: flex;
        flex-direction: column;
        text-align: center;
        flex: 50%;
        margin-top: 3%;
        @include mobile(){
            margin-top: 0%;
        }

        &--title{
            color: #F4CF1B;
           text-align: center;
            @include mobile(){
                width: 100%;
               
                margin-left: 44%;

            }
           
        }
        &--button{
            background-color: #F4CF1B;
            border: 1px solid #F4CF1B;
            width: 200px;
            height: 50px;
            font-weight: bolder;
            font-size: x-large;
            color: #1078AD;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            @include mobile(){
                margin-left: 43%;
            }
             }
             &--href{
                margin-top: 20px;
                 color: #fff;
                 font-weight: bold;
                text-align: center;
                 text-decoration: none;
                 @include mobile(){
                    margin-bottom: 10%;
                    margin-left: 60%;
                }
             }
       }

    }
}