////////////////////////////////////////////////////////////SECTION 4 ET FOOTER/////////////////////////////////////////////////////////////////////////
/***************************************************************SECTION 4 SECTION 4********************************************************************/
.section4{
    background-color: #96C5DC;
    height: 100%;
    padding: 20px;

    &__title{
        text-align: center;
        color: #1078AD;
        margin: 0;
        padding-top: 1%;
        font-size: 26px;
        font-weight: 800;
    }
    &__emoji{
        padding-top: 20px;
        padding-bottom: 20px;
        display: block;
        margin-left:auto;
        margin-right: auto;
    }
    &__button{
        width: 380px;
        border: 2px solid #1078AD;
        background: url(/Images/btn.png);
        height: 50px;
        display: block;
        margin-left:auto;
        margin-right: auto;
        border-radius: 10px;
        color: #fff;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        
        font-weight: bolder;
        font-size: large;
        &:hover{
            background-color: #1078AD;
            color: #fff;
        }
        @include mobile()
{
           width: 90%;
        }
        a{
            text-decoration: none;
            color: #ffffff;
        }
        
}
}
//////////////////////////////////////////////////////////////////FOOTER FOOTER FOOTER///////////////////////////////////////////////////////////////////////////
footer{
   .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
     padding-top: 2%;
     margin-bottom: 4%;
     width: 100px;
     height: auto;
     @include mobile{
         width: 60px;
         height: auto;
     }
   }
   .footer{
      display: flex;
       justify-content: space-evenly;
        direction: rtl;
       &__column1{
        display: flex; 
        flex-direction: column; 
        margin-top: 5%;   
        margin-left: 10em;
        @include mobile {
            margin-top: 5%;   
            margin-left: 0em;
            // margin-right: -1px;
            
        }
                 &--p1{
                     color: #1078AD;
                     font-weight: 500;
                     font-size: x-large;
                     border-bottom: 1px solid rgba(16, 121, 173, 0.5) !important;
                      width: 400px;
                     text-align: center;
                     list-style: none;
                     padding-bottom: 2px;
                   @include mobile {
                    width: 150px;
                    font-weight: 500;
                     font-size: 22px;
                   }
                   
                 }
                 &--p2{
                    border-bottom: 1px solid rgba(16, 121, 173, 0.5) !important;   
                    color: #2B2B2C;
                    font-size: 23px;
                   
                    text-align: center;
                    list-style: none;
                    padding-bottom: 2px;
                    padding-top: 2px;
                    @include mobile(){
                        text-align: center;
                        width: 150px;
                       }
                }
                &--a1{
                    text-decoration: none;
                    margin: 0;
                    &:active{
                        color: #1078AD !important;
                        font-weight: 700 !important;
                    }
                
                }
                &--a2{
                    text-decoration: none;
                    margin: 0;
                }
                ul{
                    @include mobile {
                        padding-inline-start: 20px;
                    }
                }
       }

    &__column2{
        text-align: center;
         margin-left: 8em;
        @include mobile{
            width: 60%;
            text-align: center;
            margin-left: 0em;
            margin-right: 3%;

        }
        
        &--title{
             margin: 10px;
             color: #1078AD;
             font-size: 1.5em;
             font-weight: 700;
             text-align: center;
             @include mobile {
                font-size: 1.2em;
                font-weight: 500;
             }
        }
        &--p1{
            font-family: 'Cairo', sans-serif;
            font-size: 0.9em;
            font-weight: 700;
            color: #2B2B2C;
            margin: 0;
            @include mobile {
                font-size: 0.7em;
                font-weight: 600;
                width: 70%;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
        &--num{
            font-size: 1.6em;
            font-weight: 700;
            color: #369D53;
            margin: 0;
            @include mobile {
                font-size: 1em;
            }
        }
        &--p2{
            font-family: 'Cairo', sans-serif;
            font-size: 0.9em;
            font-weight: 700;
            color: #2B2B2C;
            margin: 0;
            @include mobile {
                font-size: 0.7em;
                font-weight: 600;
                width: 70%;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }

    }

    
   }
  
}

.bleu{

    width: 100%;
    height: 31px;
    margin-top: 60px;
     background-color: #1078AD;
   
}