////////////////////////////////////////////////////////////HEADER HEADER////////////////////////////////////////////////////////////////
/****************************************************************HERO HERDER**********************************************************************/
.header{
    position: relative;

    .nav-links {
        display: flex;
        list-style: none;
        width: 50%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        margin-left: auto;
        @include mobile {
            position: fixed;
            background: #5b78c7;
            height: 100vh;
            width: 100%;
            flex-direction: column;
            clip-path: circle(100px at 90% -10%);
            -webkit-clip-path: circle(100px at 90% -10%);
            transition: all 1s ease-out;
            pointer-events: none;
        }
      }
      
      .nav-links li a {
        color: white;
        text-decoration: none;
        font-size: 16px;
        @include mobile {
            font-size: 25px;
        }
      }
      @include mobile {
        .hamburger {
            position: absolute;
            cursor: pointer;
            right: 5%;
            top: 50%;
            transform: translate(-5%, -50%);
            z-index: 2;
          }
          .nav-links li {
            opacity: 0;
          }
          
          .nav-links li:nth-child(1) {
            transition: all 0.5s ease 0.2s;
          }
          .nav-links li:nth-child(2) {
            transition: all 0.5s ease 0.4s;
          }
          .nav-links li:nth-child(3) {
            transition: all 0.5s ease 0.6s;
          }
          li.fade {
            opacity: 1;
          }
      }
      &__img1{
        width: 100%;
        height: 100px;
        @include mobile(){
        height: 80px;
    } 
    }
    &__img-logo{
        position: absolute;
        z-index: 2;
        left: 30px;
        top: 9px; 
        @include mobile(){
            width: 16%;
            height: 65%;
            left: 10px;
             top: 10px; 
        }
    }
    &__para1{
        z-index: 4;
        position: absolute;  
        right: 170px;
        bottom: 43px;
        color: rgb(0, 0, 0);
        font-size: x-large;
        font-weight: bolder;
        &--link1{
            text-decoration: none;
        }
        @include mobile(){
            font-size: medium;
            right: 100px;
            bottom: 40px;
        }
       a{
           text-decoration: none;
       }
    }
    &__para2{
        z-index: 4;
        position: absolute;
        right: 270px;
        bottom: 43px;
        font-size: x-large;
        color: #1A519E;
        &--link2{
            text-decoration: none;
            // color: rgb(0, 0, 0);
            font-weight: bold;
        }
        @include mobile(){
            font-size: medium;
            right: 170px;
            bottom: 40px;
           
        }
   } 
   &__button{
    border: 2px solid #1A519E;
    background: #96c3db;
    z-index: 4;
    position: absolute;
    right: 40px;
    top: 22px;
    width: 100px;
    height: 45px;
    padding-bottom: 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    @include mobile(){
        width: 72px;
        height: 40px;
        right: 10px;
        top: 14px;
        padding-top: 8px;
        padding-right: 10px;
    }
    
    &--link{
       
        text-decoration: none;
        padding-bottom: 20px;
        font-weight: bolder;
        font-size: x-large;
        
        @include mobile(){
           color: #fff;
           font-size: 16px;
      
        }
    }
    &--img{
        padding-left: 9px;
        padding-top: 8px;
        @include mobile {
            padding-left: 0px;
            padding-top: 0px;
            padding-right: 2px;
        }
    }
}

}
/////////////////////////////////////////////////////////////////////////////////////

//*************************************************************PART 2 TOP HEADER*****************************************************/
.part2{
    
&__orange{
    position: relative;
    // width: 100%;
    height: auto;
    background-color: #F4CF1B;
    bottom: 16px;
    padding: 14px;
&--title{
    font-size: 28px;
    text-align: center;
   color: #1078AD;
  padding: 0;
  margin: 0;
  @include mobile{
    font-size: 22px; 
   
  }
 
}
&--pg1{

  text-align: center;
   line-height: 34px;
   font-size: 16px;
   font-weight: bold;
   margin: 0;
   @include mobile{
    line-height: 20px;
    margin: 0 10px ;
  }

}
&--pg2{
  text-align: center;
  font-size: 14px;

}
}

}
/******************************************************************FIN HERO HEADER*********************************************************************/

/*****************************************************************DEBUT 2EME PARTIE HEADER*******************************************************************************/
.part3{
   display: flex;
   justify-content: center;
   direction: rtl ;
   margin-top: 1%;
  @include mobile(){
      flex-wrap: wrap;
  }

   &__half1{
      max-width:50% ; 
      @include mobile{
        max-width:100% ; 
      }
      
    &--img1{
        width: 44vw;
        margin-top: 5%;
       margin-left: 60px;
      
       @include mobile(){
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    @include tablet{
        width: 80%;
        margin-right: 5%;
        margin-top: 15%;
    }

    }
}
  &__half2{
    width: 50%;
    @include mobile(){
        width: 100%;
    }
    @include tablet{
        width: 500px;
    }
    &--img2{
    
        width: 70px;
        height: 70px;
        margin-top: 1%;
        margin-bottom: 2%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        @include mobile(){
            // margin-right: 41%;
            width: 50px;
            height: 50px;
           
        }

     }
    &--1{
        width: 100%;
        color: #1078AD;
        text-align: center;
        font-size: 30px;
        font-weight: bolder;
       line-height: 40px;
        
        @include mobile(){
            width: 100%;
            text-align: center;  
            font-size: 20px;
        }
        @include tablet{
            width: 100%;
            font-size: 25px;
        }
    }
    &--2{
        width: 100%;
        font-weight: bold;
        color: #7F7F7F;
        font-size: 26px;
        text-align: center;
        margin: 0;
        @include mobile(){
            margin-bottom: 1%;
            font-size: 14px;
        }
        @include tablet{
            width: 100%;
            font-size: 23px;
        }
    }
    &--3{
        width: 100%;
        margin: 0;
        font-weight: bold;
        font-size: 26px;
        text-align: center;
        color: #7F7F7F;

        @include mobile(){
            text-align: center;
            font-size: 14px;
            display: inline;
           margin-right: 30px;
        }
        @include tablet{
            width: 100%;
            font-size: 23px;
        }
    }
    &--4{
        width: 100%;
        margin: 0;
        font-weight: bold;
        font-size: 26px;
        text-align: center;
        color: #7F7F7F;

        margin: 0;
        @include mobile(){
            display: inline;
            font-size: 14px;
            padding: 0 0 0 5px;
        }
        @include tablet{
            width: 100%;
            font-size: 23px;
        }
    }
    &--5{
        width: 100%;
        margin: 0;
        font-weight: bold;
        font-size: 26px;
        color: #7F7F7F;
        text-align: center;
        margin-bottom: 20px;
        @include mobile(){
           line-height: 34px;
           font-size: 14px;
           padding: 0 6px 10px;
        }
        @include tablet{
            width: 100%;
            font-size: 23px;
        }
    }
    &--button{
     background: url(/Images/btn-2.png);
    align-items: center;
    border: 2px solid #1078AD;
    text-decoration: none;
    width: 600px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    color: #fff;
    font-size: xx-large;
    transition-duration: 0.3s;
  &:hover{
      background-color: #1078AD;
      color: #fff;
      
  }
    @include mobile(){
                width: 80%;
            //   margin-right: 5%;
            }
   @include tablet{
         width: 90%;
         margin-right: 5%;
            }
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
a{
    text-decoration: none;
    // color: #fff;
&:hover{
    color: #fff;
}
}
}

}
