$primary-color: #1078AD;
$second-color: #1A519E;
$third-color: #d0e5f0;
$mobile:400px;
@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}
body {
    margin: 0;
    padding: 0;
    font-family: cairo,sans-serif;
}